@font-face {
  font-family: "Poppins";
  src: url(vi-Poppins-regular.ttf);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#heading {
  color: #153060;
  font-family: Poppins;
  font-size: 4.5rem;
  line-height: 52px; /* 115.556% */
  /* margin-bottom: -60px; */
}

.form-group form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-label {
  display: block;
  margin-bottom: 8px;

  color: #153060;
  font-family: Poppins;
  font-size: 2.2rem;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}

.input-field {
  border: none;
  outline: none;

  font-family: Poppins;
  font-size: 2.2rem;

  width: 537px;
  padding: 16px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background: #fafafa;
}

#update-password-btn {
  width: 537px;
  padding: 18px 32px;

  color: #fff;
  font-family: Poppins;
  font-size: 2.2rem;

  border: none;
  border-radius: 5px;
  background: #1e4178;

  cursor: pointer;
}

#update-password-btn:hover {
  transform: scale(0.99);
}

.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-password {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: rgba(102, 102, 102, 0.8);
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: normal;
}

.message-placeholder {
  font-family: Poppins;
}

#token {
  display: none;
}
