<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Book Store</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/all.css}" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets/fruitables/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link th:href="@{/assets/fruitables/css/style.css}" rel="stylesheet" />

    <!-- Remove favicon error -->
    <link rel="shortcut icon" href="#!" type="image/x-icon" />

    <!-- internal CSS -->
    <style>
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <!-- Navbar start -->
    <div class="container-fluid">
      <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl justify-content-between">
          <a th:href="@{/books}" class="navbar-brand"><h1 class="text-primary display-6">BookStore</h1></a>
          <div id="navbarCollapse">
            <div class="d-flex m-3 me-0">
              <a id="logInIcon" sec:authorize="isAnonymous()" th:href="@{/logIn}" class="position-relative me-4 my-auto">
                <i class="fa-solid fa-right-to-bracket fa-2x"></i>
              </a>
              <a id="cartIcon" sec:authorize="hasRole('ROLE_CUSTOMER')" th:href="@{/cart}" class="position-relative me-4 my-auto">
                <i class="fa fa-shopping-bag fa-2x"></i>
                <!-- <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px">3</span> -->
              </a>
              <a id="userProfileIcon" sec:authorize="hasRole('ROLE_CUSTOMER')" href="#" class="my-auto me-4">
                <i class="fas fa-user fa-2x"></i>
              </a>
              <a id="logOutIcon" sec:authorize="isAuthenticated()" href="#" class="position-relative my-auto">
                <i class="fa-solid fa-right-from-bracket fa-2x"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th class="text-center text-nowrap" scope="col">Sản phẩm</th>
                <th class="text-start text-nowrap" scope="col">Tên</th>
                <th class="text-center text-nowrap" scope="col">Giá</th>
                <th class="text-center text-nowrap" scope="col">Số lượng</th>
                <th class="text-center text-nowrap" scope="col">Thành tiền</th>
                <th class="text-center text-nowrap" scope="col">Xóa</th>
              </tr>
            </thead>
            <tbody id="cartItemTableBody">
              <tr th:if="${cartItems != null and not #lists.isEmpty(cartItems)}" th:each="cartItem, stat : ${cartItems}">
                <th scope="row" class="text-nowrap">
                  <div class="d-flex align-items-center justify-content-center">
                    <img th:src="@{${cartItem.image}}" class="img-thumbnail object-fit-cover overflow-hidden rounded" style="height: 80px; aspect-ratio: 3/4" th:alt="${cartItem.name}" />
                  </div>
                </th>
                <td class="text-wrap">
                  <p th:text="${cartItem.name}"></p>
                </td>
                <td class="text-center text-nowrap">
                  <p class="cartItemPrice" th:text="${#numbers.formatDecimal(cartItem.price, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></p>
                </td>
                <td>
                  <div class="input-group quantity mx-auto" style="width: 100px">
                    <div class="input-group-btn">
                      <button class="decreaseAddToCartQuantityByOneBtn btn btn-sm btn-minus rounded-circle bg-light border" th:attr="data-book-id=${cartItem.book.id}, data-cart-item-id=${cartItem.id}">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input type="number" class="addToCartQuantityInput form-control form-control-sm text-center border-0" th:value="${cartItem.quantity}" readonly />
                    <div class="input-group-btn">
                      <button class="increaseAddToCartQuantityByOneBtn btn btn-sm btn-plus rounded-circle bg-light border" th:attr="data-book-id=${cartItem.book.id}, data-cart-item-id=${cartItem.id}">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <p class="cartItemRowSubtotal" th:text="${#numbers.formatDecimal(cartItem.totalPrice, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></p>
                </td>
                <td class="text-center">
                  <button th:attr="data-cart-item-id=${cartItem.id}" class="deleteCartItemBtn btn btn-md rounded-circle bg-light border">
                    <i class="fa fa-times text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div th:if="${cartItems == null or #lists.isEmpty(cartItems)}" class="alert alert-info d-flex align-items-center justify-content-center" role="alert">Chưa có sản phẩm nào.</div>
        </div>
        <div class="mt-5"></div>
        <div class="row g-4 justify-content-end">
          <div class="col-8"></div>
          <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
            <div id="cartValuePane" class="bg-light rounded">
              <div class="p-4">
                <h1 class="display-6 mb-4">Tạm <span class="fw-normal">tính</span></h1>
                <div class="d-flex justify-content-between mb-4">
                  <h5 class="mb-0 me-4">Thành tiền:</h5>
                  <p id="cartSubtotal" class="mb-0" th:text="${#numbers.formatDecimal(cart.totalPrice, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></p>
                </div>
                <div class="d-flex justify-content-between">
                  <h5 class="mb-0 me-4">Phí vận chuyển:</h5>
                  <div class="">
                    <p class="mb-0">0 ₫</p>
                  </div>
                </div>
              </div>
              <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                <h5 class="mb-0 ps-4 me-4">Tổng trả:</h5>
                <p id="cartGrandtotal" class="mb-0 pe-4" th:text="${#numbers.formatDecimal(cart.totalPrice, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></p>
              </div>
              <a th:href="@{/orders/checkout}" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Tiến hành đặt mua</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart Page End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- toasts -->
    <!-- success toast -->
    <div id="successToast" class="toast align-items-center bg-success text-white border-0 mt-3 rounded-0 d-none position-fixed top-0 end-0 me-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1090">
      <div class="toast-header bg-success text-white rounded-0">
        <i class="fa-solid fa-circle-check me-1"></i>
        <span>Thành công!</span>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="successToastMessage">Thông báo</span>
      </div>
      <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
    <!-- error toast -->
    <div id="errorToast" class="toast align-items-center bg-danger text-white border-0 mt-3 rounded-0 d-none position-fixed top-0 end-0 me-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1090">
      <div class="toast-header bg-danger text-white rounded-0">
        <i class="fa-solid fa-circle-exclamation me-1"></i>
        <span>Lỗi!</span>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="errorToastMessage">Thông báo</span>
      </div>
      <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
    <!-- end toasts -->

    <!-- JavaScript Libraries -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/easing.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/assets/js/cartPageScript.js}"></script>
  </body>
</html>
