<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
  </head>
  <body>
    <p>Click đường link dưới đây để đến trang đặt lại mật khẩu:</p>
    <a th:href="${forgotPasswordLink}" target="_self">Đặt lại mật khẩu</a>
    <p>Đường link có hiệu lực trong vòng 10 phút.</p>
    <p>
      Click Quên mật khẩu trên trang Đăng nhập để lấy đường link mới nếu đường
      link hết hạn hoặc bị lỗi.
    </p>
  </body>
</html>
