<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- reset css -->
    <link rel="stylesheet" th:href="@{/assets/css/reset.css}" />

    <!-- favicon -->
    <link rel="shortcut icon" href="#!" type="image/x-icon" />

    <!-- common css -->
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
  </head>
  <body>
    <h1>Trang chủ</h1>
    <a th:href="@{/cart}" id="cart-link">Giỏ hàng</a>
    <button id="log-out-btn">Đăng xuất</button>

    <!-- script -->
    <script th:src="@{assets/js/home/main.js}"></script>
  </body>
</html>
