<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BookStore</title>
    <link th:href="@{/assets/css/sbAdminStyle.css}" rel="stylesheet" />
    <script th:src="@{/assets/js/fontawesome.all.js}" crossorigin="anonymous"></script>
  </head>
  <body class="sb-sidenav-toggled">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" th:href="@{/dashboard}">BookStore</a>
      <!-- Sidebar Toggle-->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar-->
      <ul class="navbar-nav ms-auto me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a id="logOutLink" class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Bảng điều khiển</div>
              <a class="nav-link" th:href="@{/dashboard}"><i class="fa-solid fa-table-columns me-2"></i>Dashboard</a>
              <div class="sb-sidenav-menu-heading">Quản lý</div>
              <a class="nav-link" th:href="@{/manager/categories}"><i class="fa-solid fa-list me-2"></i>Thể loại</a>
              <a class="nav-link" th:href="@{/manager/books}"><i class="fas fa-book-open me-2"></i>Sách</a>
              <a class="nav-link" th:href="@{/manager/reviews}"><i class="fa-solid fa-comment me-2"></i>Đánh giá</a>
              <a class="nav-link" th:href="@{/manager/orders}"><i class="fa-solid fa-receipt me-2"></i>Đơn hàng</a>
              <a class="nav-link" th:href="@{/users}"><i class="fa-solid fa-user me-2"></i>Tài khoản</a>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">Đã đăng nhập với vai trò:</div>
            <!-- Lặp qua từng GrantedAuthority (ví dụ: ROLE_USER, ROLE_ADMIN, ...) -->
            <span th:each="auth : ${#authentication.authorities}" th:if="${#strings.startsWith(auth.authority, 'ROLE_')}" th:text="${auth.authority.substring(5)}">
              <!-- Nếu auth.authority = "ROLE_ADMIN", auth.authority.substring(5) = "ADMIN" -->
            </span>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Quản lý đơn hàng</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item">
                <a th:href="@{/dashboard}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Quản lý đơn hàng</li>
            </ol>
            <div class="row g-4 justify-content-center align-items-center">
              <div class="col-3"></div>
              <div class="col-xl-3">
                <div class="input-group w-100 mx-auto d-flex mb-4">
                  <input id="orderSearchBox" type="search" name="keyword" class="form-control p-3" placeholder="Nhập mã đơn, số điện thoại,..." aria-describedby="search-icon-1" />
                  <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="bg-dark ps-3 py-3 rounded d-flex justify-content-between mb-4 align-items-center">
                  <label for="orderStatusFilter" class="text-white">Trạng thái:</label>
                  <select id="orderStatusFilter" name="status" class="border-0 form-select-sm bg-dark me-3 text-white" style="outline: none" form="orderStatusFilter" attr="data-current-page=${paginationMetadata.currentPosition}">
                    <option value="">ALL</option>
                    <option value="PENDING">PENDING</option>
                    <option value="REJECTED">REJECTED</option>
                    <option value="APPROVED">APPROVED</option>
                    <option value="PROCESSING">PROCESSING</option>
                    <option value="SHIPPING">SHIPPING</option>
                    <option value="DELIVERED">DELIVERED</option>
                    <option value="CANCELED">CANCELED</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="bg-dark ps-3 py-3 rounded d-flex justify-content-between mb-4 align-items-center">
                  <label for="orderSorter" class="text-white">Xếp theo:</label>
                  <select id="orderSorter" name="sort" class="border-0 form-select-sm bg-dark me-3 text-white" style="outline: none" form="orderSorter" attr="data-current-page=${paginationMetadata.currentPosition}">
                    <option value="orderedAt,asc" selected>Ngày tạo (Cũ nhất)</option>
                    <option value="orderedAt,desc">Ngày tạo (Mới nhất)</option>
                    <option value="total,asc">Tổng tiền (Thấp - Cao)</option>
                    <option value="total,desc">Tổng tiền (Cao - Thấp)</option>
                  </select>
                </div>
              </div>
            </div>
            <table class="table table-light table-striped table-hover table-bordered table-responsive align-middle" style="text-align: justify">
              <thead class="table-dark align-middle text-center">
                <tr>
                  <th class="text-nowrap" scope="col">#</th>
                  <th class="text-nowrap" scope="col">Mã đơn</th>
                  <th class="text-nowrap" scope="col">Khách hàng</th>
                  <th class="text-nowrap" scope="col">Điện thoại</th>
                  <th class="text-nowrap" scope="col">Địa chỉ</th>
                  <th class="text-nowrap" scope="col">Ngày tạo</th>
                  <th class="text-nowrap" scope="col">Tổng tiền</th>
                  <th class="text-nowrap" scope="col">Phương thức</th>
                  <th class="text-nowrap" scope="col">Trạng thái</th>
                  <th class="text-nowrap" scope="col"></th>
                </tr>
              </thead>
              <tbody id="orderTableBody" class="table-group-divider">
                <tr th:if="${orders != null and not #lists.isEmpty(orders)}" th:each="order, stat : ${orders}">
                  <th scope="row" th:text="${stat.count}" class="text-center"></th>
                  <td class="text-center text-nowrap" th:text="${order.code}"></td>
                  <td class="text-center text-nowrap" id="'bookISBNCell-' + ${book.id}" th:text="${order.name}"></td>
                  <td class="text-center text-nowrap" id="'bookNameCell-' + ${book.id}" th:text="${order.phone}"></td>
                  <td class="text-wrap" id="'bookAuthorCell-' + ${book.id}" style="text-align: left" th:text="${order.province} + ', ' + ${order.district} + ', ' + ${order.ward} + ', ' + ${order.home}"></td>
                  <td class="text-center text-nowrap" id="'bookPublisherCell-' + ${book.id}" style="text-align: left" th:text="${#temporals.format(order.orderedAt, 'dd/MM/yyyy HH:mm')}"></td>
                  <td class="text-center text-nowrap" id="'bookPriceCell-' + ${book.id}" th:text="${#numbers.formatDecimal(order.total, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></td>
                  <td class="text-center text-nowrap" id="'bookPriceCell-' + ${book.id}" th:text="${order.paymentMethod}"></td>
                  <td class="text-center text-nowrap" id="'bookPriceCell-' + ${book.id}">
                    <span th:if="${order.status.name() == 'PENDING'}" th:text="${order.status}"></span>
                    <span th:if="${order.status.name() == 'REJECTED'}" th:text="${order.status}"></span>
                    <select th:attr="data-order-id=${order.id}" class="updateOrderStatusSelect form-select" aria-label="Default select example" th:if="${order.status.name() != 'PENDING' and order.status.name() != 'REJECTED'}">
                      <option value="APPROVED" th:selected="${order.status.name() == 'APPROVED'}">APPROVED</option>
                      <option value="PROCESSING" th:selected="${order.status.name() == 'PROCESSING'}">PROCESSING</option>
                      <option value="SHIPPING" th:selected="${order.status.name() == 'SHIPPING'}">SHIPPING</option>
                      <option value="DELIVERED" th:selected="${order.status.name() == 'DELIVERED'}">DELIVERED</option>
                    </select>
                  </td>
                  <td class="text-center text-nowrap">
                    <button type="button" class="openOrderDetailModalBtn btn btn-info text-nowrap text-white" th:attr="data-order-id=${order.id}" data-bs-toggle="modal" data-bs-target="#orderDetailModalContainer">
                      <i class="fa-solid fa-eye"></i>
                    </button>
                    <button th:if="${order.status.name() == 'PENDING'}" type="button" class="openApproveOrderModalBtn btn btn-warning text-nowrap border-0" th:attr="data-order-id=${order.id}" data-bs-toggle="modal" data-bs-target="#approveOrderModalContainer">
                      <i class="fa-solid fa-check-double"></i>
                    </button>
                    <button th:if="${order.status.name() == 'PENDING'}" type="button" class="openRejectOrderModalBtn btn btn-danger text-nowrap border-0" th:attr="data-order-id=${order.id}" data-bs-toggle="modal" data-bs-target="#rejectOrderModalContainer">
                      <i class="fa-solid fa-ban"></i>
                    </button>
                  </td>
                </tr>
                <tr th:if="${orders == null or #lists.isEmpty(orders)}">
                  <td colspan="10" class="text-center">Chưa có đơn hàng nào.</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <nav aria-label="Page navigation">
                <ul id="paginationBar" class="pagination">
                  <!-- Prev -->
                  <li id="prev" class="page-item" th:classappend="${!paginationMetadata.hasPreviousPage} ? ' disabled'" th:attr="data-prev-page=${paginationMetadata.previousPosition}" th:if="${paginationMetadata.totalNumberOfPages >= 1}">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <!-- Page numbers -->
                  <li th:each="pageIndex : ${#numbers.sequence(0, paginationMetadata.totalNumberOfPages - 1)}" class="page-item page-number" th:classappend="${pageIndex == paginationMetadata.currentPosition} ? ' active'" th:if="${paginationMetadata.totalNumberOfPages >= 1}" th:attr="data-page=${pageIndex}">
                    <a class="page-link" href="#" th:text="${pageIndex + 1}" th:attr="data-page=${pageIndex}"></a>
                  </li>

                  <!-- Next -->
                  <li id="next" class="page-item" th:classappend="${!paginationMetadata.hasNextPage} ? ' disabled'" th:attr="data-next-page=${paginationMetadata.currentPosition + 1}" th:if="${paginationMetadata.totalNumberOfPages >= 1}">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Your Website 2023</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- modals -->
    <!-- modal for viewing order detail -->
    <div class="modal fade" id="orderDetailModalContainer" tabindex="-1" aria-labelledby="orderDetailModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="orderDetailModal">Thông tin chi tiết</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
          </div>
          <div class="modal-body">
            <div class="card mb-3">
              <div class="row g-0 mb-3">
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title fs-1 fw-semibold">ORD2505311928211508</h5>
                    <div class="px-2 mt-5">
                      <div class="row g-4">
                        <div class="col-12">
                          <!-- Ngày tạo -->
                          <div class="row text-bg-primary align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Ngày tạo</p>
                            </div>
                            <div class="col-6">
                              <p id="orderedAt" class="mb-0">31/05/2025 12:28</p>
                            </div>
                          </div>
                          <!-- Tên người nhận -->
                          <div class="row align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Người nhận</p>
                            </div>
                            <div class="col-6">
                              <p id="name" class="mb-0">Nguyễn Việt Anh</p>
                            </div>
                          </div>
                          <!-- Điện thoại -->
                          <div class="row text-bg-primary align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Điện thoại</p>
                            </div>
                            <div class="col-6">
                              <p id="phone" class="mb-0">0838668131</p>
                            </div>
                          </div>
                          <!-- Địa chỉ -->
                          <div class="row align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Địa chỉ</p>
                            </div>
                            <div class="col-6">
                              <p id="address" class="mb-0">Tỉnh Nam Định, Thành phố Nam Định, Phường Trường Thi, Số nhà 11, ngõ 491, đường Giải Phóng</p>
                            </div>
                          </div>
                          <!-- Tổng giá trị đơn hàng -->
                          <div class="row text-bg-primary align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Tổng giá trị đơn hàng</p>
                            </div>
                            <div class="col-6">
                              <p id="grandtotal" class="mb-0">95.000 ₫</p>
                            </div>
                          </div>
                          <!-- Phương thức thanh toán -->
                          <div class="row align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Phương thức thanh toán</p>
                            </div>
                            <div class="col-6">
                              <p id="paymentMethod" class="mb-0">COD</p>
                            </div>
                          </div>
                          <!-- Trạng thái -->
                          <div class="row text-bg-primary align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Trạng thái</p>
                            </div>
                            <div class="col-6">
                              <p id="status" class="mb-0">PENDING</p>
                            </div>
                          </div>
                          <!-- Ghi chú -->
                          <div class="row align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Ghi chú</p>
                            </div>
                            <div class="col-6">
                              <p id="note" class="mb-0"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4"></div>
              </div>
              <!-- Mô tả -->
              <div class="row">
                <div class="col-12 px-4">
                  <table class="table table-light table-striped table-hover table-bordered table-responsive align-middle caption-top" style="text-align: justify">
                    <caption>
                      <h3 class="text-dark">Danh sách sản phẩm</h3>
                    </caption>
                    <thead class="table-dark align-middle text-center">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody id="orderItemTableBody" class="table-group-divider">
                      <tr>
                        <th scope="row" class="text-center"></th>
                        <td class="text-nowrap text-center">
                          <img src="" class="img-thumbnail rounded overflow-hidden object-fit-cover" style="height: 80px; aspect-ratio: 3/4" alt="" />
                        </td>
                        <td class="text-left text-wrap"></td>
                        <td class="text-center text-nowrap" style="text-align: left"></td>
                        <td class="text-center text-nowrap" style="text-align: left"></td>
                        <td class="text-center text-nowrap" style="text-align: left"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for approved order -->
    <div class="modal fade" id="approveOrderModalContainer" tabindex="-1" aria-labelledby="approveOrderModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="approveOrderModal">Duyệt đơn hàng</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
          </div>
          <div class="modal-body">
            Duyệt đơn hàng này?
            <form>
              <button id="approveOrderBtn" type="button" class="btn btn-primary" data-order-id="" attr="data-current-page=${paginationMetadata.currentPosition}">Duyệt</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for confirming order rejection -->
    <div class="modal fade" id="rejectOrderModalContainer" tabindex="-1" aria-labelledby="rejectOrderModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="rejectOrderModal">Từ chối đơn hàng</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
          </div>
          <div class="modal-body">
            Từ chối đơn hàng này?
            <form>
              <button id="rejectOrderBtn" type="button" class="btn btn-primary" data-order-id="" attr="data-current-page=${paginationMetadata.currentPosition}">Từ chối đơn hàng</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modals -->

    <!-- toasts -->
    <!-- success toast -->
    <div id="successToast" class="toast align-items-center bg-success text-white border-0 mt-3 rounded-0 d-none position-fixed top-0 end-0 me-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1090">
      <div class="toast-header bg-success text-white rounded-0">
        <i class="fa-solid fa-circle-check me-1"></i>
        <span>Thành công!</span>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="successToastMessage">Thông báo</span>
      </div>
      <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
    <!-- error toast -->
    <div id="errorToast" class="toast align-items-center bg-danger text-white border-0 mt-3 rounded-0 d-none position-fixed top-0 end-0 me-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1090">
      <div class="toast-header bg-danger text-white rounded-0">
        <i class="fa-solid fa-circle-exclamation me-1"></i>
        <span>Lỗi!</span>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="errorToastMessage">Thông báo</span>
      </div>
      <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
    <!-- end toasts -->

    <!-- scripts -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/assets/js/sbAdminScript.js}"></script>
    <script th:src="@{/assets/js/manageOrdersPageScript.js}"></script>
  </body>
</html>
