<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Book Store</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/all.css}" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets/fruitables/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link th:href="@{/assets/fruitables/css/style.css}" rel="stylesheet" />

    <!-- Remove favicon error -->
    <link rel="shortcut icon" href="#!" type="image/x-icon" />

    <!-- internal CSS -->
    <style>
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <!-- Navbar start -->
    <div class="container-fluid">
      <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl justify-content-between">
          <a th:href="@{/books}" class="navbar-brand"><h1 class="text-primary display-6">BookStore</h1></a>
          <div id="navbarCollapse">
            <div class="d-flex m-3 me-0">
              <a id="logInIcon" sec:authorize="isAnonymous()" th:href="@{/logIn}" class="position-relative me-4 my-auto">
                <i class="fa-solid fa-right-to-bracket fa-2x"></i>
              </a>
              <a id="cartIcon" sec:authorize="hasRole('ROLE_CUSTOMER')" th:href="@{/cart}" class="position-relative me-4 my-auto">
                <i class="fa fa-shopping-bag fa-2x"></i>
                <!-- <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-wid 20px">3</span> -->
              </a>
              <div class="dropdown">
                <a id="userProfileIcon" sec:authorize="hasRole('ROLE_CUSTOMER')" href="#" class="my-auto me-4 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user fa-2x"></i>
                </a>

                <ul class="dropdown-menu">
                  <li class="d-flex justify-content-center align-items-center"><img src="" class="dropdown-item rounded-circle" style="width: 80px; height: 80px" alt="avatar" /></li>
                  <li><p class="dropdown-item" sec:authentication="name"></p></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" th:href="@{/orders/personal}">Đơn hàng của tôi</a></li>
                  <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                  <li><a class="dropdown-item" href="#">Đánh giá của tôi</a></li>
                </ul>
              </div>
              <a id="logOutIcon" sec:authorize="isAuthenticated()" href="#" class="position-relative my-auto">
                <i class="fa-solid fa-right-from-bracket fa-2x"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="row g-4 justify-content-center">
          <div class="col-xl-5">
            <div class="input-group w-100 mx-auto d-flex">
              <input id="orderSearchBox" type="search" class="form-control p-3" placeholder="Nhập mã đơn..." aria-describedby="search-icon-1" />
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4 align-items-center">
              <label for="orderStatusFilter" class="text-white">Trạng thái:</label>
              <select id="orderStatusFilter" name="status" class="border-0 form-select-sm bg-light me-3" style="outline: none" form="orderStatusFilter" attr="data-current-page=${paginationMetadata.currentPosition}">
                <option value="">ALL</option>
                <option value="PENDING">PENDING</option>
                <option value="REJECTED">REJECTED</option>
                <option value="APPROVED">APPROVED</option>
                <option value="PROCESSING">PROCESSING</option>
                <option value="SHIPPING">SHIPPING</option>
                <option value="DELIVERED">DELIVERED</option>
                <option value="CANCELED">CANCELED</option>
              </select>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4 align-items-center">
              <label for="orderSorter">Xếp theo:</label>
              <select id="orderSorter" name="sort" class="border-0 form-select-sm bg-light me-3" form="orderSorterForm" style="outline: none">
                <option value="orderedAt,asc" selected>Ngày tạo (Cũ nhất)</option>
                <option value="orderedAt,desc">Ngày tạo (Mới nhất)</option>
                <option value="total,asc">Giá trị (Thấp - Cao)</option>
                <option value="total,desc">Giá trị (Cao - Thấp)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th class="text-start text-nowrap" scope="col">#</th>
                <th class="text-start text-nowrap" scope="col">Mã đơn</th>
                <th class="text-start text-nowrap" scope="col">Ngày đặt</th>
                <th class="text-start text-nowrap" scope="col">Giá trị</th>
                <th class="text-start text-nowrap" scope="col">Trạng thái</th>
                <!-- <th class="text-start text-nowrap" scope="col">Hủy</th> -->
              </tr>
            </thead>
            <tbody id="orderTableBody">
              <tr th:if="${orders != null and not #lists.isEmpty(orders)}" th:each="order, stat : ${orders}">
                <th scope="row" class="text-nowrap text-start" th:text="${stat.count}"></th>
                <td class="text-nowrap text-start"><a th:href="@{/orders/{id}/detail(id=${order.id})}" th:text="${order.code}"></a></td>
                <td class="text-start text-nowrap" th:text="${#temporals.format(order.orderedAt, 'dd/MM/yyyy HH:mm')}"></td>
                <td class="text-start text-nowrap" th:text="${#numbers.formatDecimal(order.total, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></td>
                <td class="text-start text-nowrap" th:text="${order.status.name()}"></td>
                <!-- <td class="text-start">
                  <button th:attr="data-order-id=${order.id}" class="cancelOrderBtn btn btn-md rounded-circle bg-light border">
                    <i class="fa fa-times text-danger"></i>
                  </button>
                </td> -->
              </tr>
            </tbody>
          </table>
          <div th:if="${orders == null or #lists.isEmpty(orders)}" class="alert alert-info d-flex align-items-center justify-content-center" role="alert">Chưa có đơn hàng nào.</div>
        </div>
        <div class="row g-4 justify-content-center">
          <div class="col-12">
            <div id="paginationContainer" class="pagination d-flex justify-content-center mt-5">
              <a id="pagBarPrevBtn" href="#" class="rounded" th:classappend="${!paginationMetadata.hasPreviousPage} ? ' disabled'" aria-label="Previous" th:attr="aria-disabled=${!paginationMetadata.hasPreviousPage}, data-prev-page=${paginationMetadata.previousPosition}"> &laquo; </a>
              <a href="#" th:each="page : ${#numbers.sequence(1, paginationMetadata.totalNumberOfPages)}" th:text="${page}" class="rounded mx-1 pagNumBtn" th:classappend="${page - 1 == paginationMetadata.currentPosition} ? ' active'" th:attr="data-page=${page - 1}"></a>
              <a id="pagBarNextBtn" href="#" class="rounded" th:classappend="${!paginationMetadata.hasNextPage} ? ' disabled'" aria-label="Next" th:attr="aria-disabled=${!paginationMetadata.hasNextPage}, data-next-page=${paginationMetadata.nextPosition}"> &raquo; </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart Page End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- toasts -->
    <!-- success toast -->
    <div id="successToast" class="toast align-items-center bg-success text-white border-0 mt-3 rounded-0 d-none position-fixed top-0 end-0 me-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1090">
      <div class="toast-header bg-success text-white rounded-0">
        <i class="fa-solid fa-circle-check me-1"></i>
        <span>Thành công!</span>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="successToastMessage">Thông báo</span>
      </div>
      <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
    <!-- error toast -->
    <div id="errorToast" class="toast align-items-center bg-danger text-white border-0 mt-3 rounded-0 d-none position-fixed top-0 end-0 me-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1090">
      <div class="toast-header bg-danger text-white rounded-0">
        <i class="fa-solid fa-circle-exclamation me-1"></i>
        <span>Lỗi!</span>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="errorToastMessage">Thông báo</span>
      </div>
      <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
    <!-- end toasts -->

    <!-- JavaScript Libraries -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/easing.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/assets/js/personalOrdersPageScript.js}"></script>
  </body>
</html>
