@font-face {
  font-family: "Poppins";
  src: url(vi-Poppins-regular.ttf);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo {
  display: inline-block;
  margin-bottom: -16px;
}

.heading {
  color: #333;
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.login-cta {
  display: flex;
  align-items: center;
  gap: 7px;
}

.login-cta__question {
  color: #333;
  font-family: Poppins;
  line-height: normal;
}

.login-cta__link {
  color: #111;
  font-family: Poppins;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.social-sign-up-cta-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-sign-up-cta {
  width: 528px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 40px;
  border: 1px solid #333;
  background: #fff;

  text-decoration: none;
  color: #333;
  font-family: Poppins;
  font-size: 2.2rem;
  line-height: normal;
}

.usual-sign-up-cta {
  color: #666;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: normal;
  margin-bottom: -16px;
}

.sign-up-form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-label,
.input-field {
  display: block;
}

.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-password {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: rgba(102, 102, 102, 0.8);
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: normal;
}

.input-label {
  margin-bottom: 7px;
  color: #666;
  font-family: Poppins;
  line-height: normal;
}

.input-field {
  outline: none;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  height: 56px;
  width: 100%;
  padding: 10px;
  margin-bottom: 7px;
  font-family: Poppins;
  font-size: 2.2rem;
}

.error-message {
  font-family: Poppins;
}

.sign-up-btn {
  border-radius: 40px;
  background: #111;

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: normal;

  display: flex;
  width: 528px;
  height: 64px;
  padding: 15px 159.5px 16px 159.5px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.sign-up-btn:hover {
  transform: scale(0.97);
}
